*,
*::after,
*::before {
    box-sizing: border-box;
}

#section-split~#PageContainer {
    z-index: 1001;
    position: relative;
    margin-top: 20px;
}


/* Nav overrides */

.site-header-wrapper.site-header-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1002;
}

#NavDrawer {
    z-index: 1002;
}

.split {
    font-size: 15px;
    font-weight: bold;
}

.split p {
    text-transform: uppercase;
}

.split {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.fold-scroller {
    height: 100%;
}

.fold-content {
    pointer-events: all;
    width: 100%;
}

.fold-size-fix {
    width: 100%;
    height: 100%;
}

.fold-before .fold-size-fix {
    transform-origin: bottom center;
}

.fold-after .fold-size-fix {
    transform-origin: top center;
}

.base-content {
    display: none;
}


/*  Debug */

.debug .fold:nth-child(2n) {
    background: #dadada;
}

.debug .fold:nth-child(2n + 1) {
    background: #bababa;
}

.btn-debug {
    position: fixed;
    top: 10px;
    padding: 1rem;
    font-size: 16px;
    text-transform: uppercase;
    right: 10px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background: coral;
}

.rectangle {
    width: 100%;
    padding-bottom: 50%;
    background: coral;
    box-shadow: 1px 0 coral, 0 1px coral;
}


/* Page Loader */

.js .loading::before,
.js .loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

.split a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

.split a:hover,
.split a:focus {
    color: var(--color-link-hover);
    outline: none;
}

.message {
    background: var(--color-text);
    color: var(--color-bg);
    padding: 1rem;
    text-align: center;
    display: none;
}

.frame {
    padding: 3rem 5vw;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.frame__title {
    font-size: 1rem;
    margin: 0 0 1rem;
    font-weight: bold;
}

.frame__links {
    display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
    margin-right: 1rem;
}

.frame__demos {
    margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
    color: var(--color-text);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 13rem);
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 53em) {
    .message {
        display: none;
    }
    .frame {
        position: fixed;
        text-align: left;
        z-index: 100;
        top: 0;
        left: 0;
        display: grid;
        align-content: space-between;
        width: 100%;
        max-width: none;
        height: 100vh;
        padding: 72px 1em 20px;
        pointer-events: none;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'title links' '... ...' '... demos';
    }
    .frame__title-wrap {
        grid-area: title;
        display: flex;
    }
    .frame__title {
        margin: 0;
    }
    .frame__tagline {
        position: relative;
        margin: 0 0 0 1rem;
        padding: 0 0 0 1rem;
        opacity: 0.5;
    }
    .frame__demos {
        margin: 0;
        grid-area: demos;
        justify-self: end;
    }
    .frame__links {
        grid-area: links;
        padding: 0;
        justify-self: end;
    }
    .frame a {
        pointer-events: auto;
    }
    .split .content {
        height: 100vh;
        justify-content: center;
    }
}


/*============================================================================
#Slick-slide
==============================================================================*/

.slick-slide img {
    transform: translate(0)!important
}

.split {
    --color-bg: #0f0f11;
    --color-text: #e3e5eb;
    --color-link: #fff;
    --color-link-hover: #fff
}

.content__type {
    font-size: 7vw;
    margin: 0 auto;
    text-align: justify;
    font-family: condor-compressed, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5rem 0;
    line-height: 1;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    background-size: 80%
}

.content__type-special {
    font-size: 29vw;
    display: block;
    margin: 0 auto;
    text-align: center
}

.content__img {
    width: 100%;
    display: block;
    backface-visibility: hidden
}

.fold-scroller {
    width: 60vw
}

.fold {
    overflow: hidden;
    height: 60vh;
    width: 30vw
}

.fold-before,
.fold-after {
    height: 20vh
}

.side-left .fold-before-1 {
    transform: skew(40deg)
}

.side-left .fold-after-1,
.side-right .fold-before-1 {
    transform: skew(-40deg)
}

.side-right .fold-after-1 {
    transform: skew(40deg)
}

.wrapper-3d {
    position: relative;
    perspective: 250px;
    transform-style: preserve-3d
}

.fold-after {
    position: absolute;
    transform-origin: top center;
    right: 0;
    left: 0;
    top: 100%
}

.fold-before {
    position: absolute;
    transform-origin: bottom center;
    left: 0;
    right: 0;
    bottom: 100%
}

.slick-slide img {
    transform: translate(0)!important
}

.split {
    --color-bg: #0f0f11;
    --color-text: #e3e5eb;
    --color-link: #fff;
    --color-link-hover: #fff
}

.content__type {
    font-size: 7vw;
    margin: 0 auto;
    text-align: justify;
    font-family: condor-compressed, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5rem 0;
    line-height: 1;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    background-size: 80%
}

.content__type-special {
    font-size: 29vw;
    display: block;
    margin: 0 auto;
    text-align: center
}

.content__img {
    width: 100%;
    display: block;
    backface-visibility: hidden
}

.fold-scroller {
    width: 60vw
}

.fold {
    overflow: hidden;
    height: 60vh;
    width: 30vw
}

.fold-before,
.fold-after {
    height: 20vh
}

.side-left .fold-before-1 {
    transform: skew(40deg)
}

.side-left .fold-after-1,
.side-right .fold-before-1 {
    transform: skew(-40deg)
}

.side-right .fold-after-1 {
    transform: skew(40deg)
}

.wrapper-3d {
    position: relative;
    perspective: 250px;
    transform-style: preserve-3d
}

.fold-after {
    position: absolute;
    transform-origin: top center;
    right: 0;
    left: 0;
    top: 100%
}

.fold-before {
    position: absolute;
    transform-origin: bottom center;
    left: 0;
    right: 0;
    bottom: 100%
}