/*================ #Color Variables ================*/

:root {
    --primary-color: #535156;
    --secondary-color: #0f0f11;
    --white-color: #fff;
    --black-color: #000;
    --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


/*================ #Variables ================*/

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black-color);
}

body::-webkit-scrollbar {
    width: 12px;
    border-radius: 50%;
}

body::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.split::-webkit-scrollbar {
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}


/*================ #Typography Variables ================*/

@font-face {
    font-family: "Archivo Narrow";
    font-weight: 700;
    font-style: normal;
    src: url("https://fonts.shopifycdn.com/archivo_narrow/archivonarrow_n7.5a454828f1b15eb7f722cdb2f2e1b3909f34b3c8.woff2?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=a47ca4e681bd3373dd502e4136a896ec23ddeaffc36ffd6b0a0fc597d59f7985") format("woff2"), url("https://fonts.shopifycdn.com/archivo_narrow/archivonarrow_n7.2302d0d268e852afb8ea084cc2157e4fa8df66de.woff?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=5c932b5bc11b463a95ef10798185ba00c0d37f7975665cf9c4042b17adf8bbaa") format("woff");
}

@font-face {
    font-family: "Swiss 721";
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.shopifycdn.com/swiss_721/swiss721_n4.f6382e9c4f554f3e521691eb0063f353bccaac61.woff2?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=9aa9793f95faf0f5c164fe01bd87cc3afa9ed1b9971e52a52f61cfd766aa40f3") format("woff2"), url("https://fonts.shopifycdn.com/swiss_721/swiss721_n4.d8ac88e504ed86054a0ab48468805fbb9dd8e781.woff?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=6f653cf986bdbeca418f2d2d356cb58f7987f420af33f869f7ce88946f889b95") format("woff");
}

@font-face {
    font-family: "Swiss 721";
    font-weight: 700;
    font-style: normal;
    src: url("https://fonts.shopifycdn.com/swiss_721/swiss721_n7.001710b00ed28aaa567f4ef1e31129557f3cfa3a.woff2?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=df73ddeeea0a3afbfe093b7cb5c6dd83319a5b84436b44c531e46b534bb42dcb") format("woff2"), url("https://fonts.shopifycdn.com/swiss_721/swiss721_n7.face333fa2aec65a88da642889e6698d72688142.woff?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=03d65b6001ab866ae4e385fc5e19745ea04d94cb0f7216550c2e973f66a3ddc9") format("woff");
}

@font-face {
    font-family: "Swiss 721";
    font-weight: 400;
    font-style: italic;
    src: url("https://fonts.shopifycdn.com/swiss_721/swiss721_i4.d83f0ed9b14f24fe685c5b55783f9e99c775a015.woff2?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=ca66c2f89ce14ceb02814a5d320a7409a25cbeb92179f796cea931f185a53a31") format("woff2"), url("https://fonts.shopifycdn.com/swiss_721/swiss721_i4.226908cb9fde8fd37483fd2472a9416e61ee6084.woff?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=1ee7f86a90bf49f4a206f49cbc20fe25f9728853d1454786cefed0233ae3c467") format("woff");
}

@font-face {
    font-family: "Swiss 721";
    font-weight: 700;
    font-style: italic;
    src: url("https://fonts.shopifycdn.com/swiss_721/swiss721_i7.c7410fd03ea3bedc92f1993f148843d080de23f4.woff2?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=0d5168cd03375cc3709593e9c9deefdcddf69be4aa6333871b8f2198e22616ef") format("woff2"), url("https://fonts.shopifycdn.com/swiss_721/swiss721_i7.233ca2badb06c09d849db6bf3569ac673ad27432.woff?h1=aWRsZWhvdXJ2b2RrYS5jb20&hmac=3acec9631cde2cd52dcad500254c817510aa470474f74e89809e946983652d05") format("woff");
}

@font-face {
    font-family: 'icons';
    src: url("//cdn.shopify.com/s/files/1/0282/1629/5512/t/2/assets/icons.eot?v=2002815656684037727");
    src: url("//cdn.shopify.com/s/files/1/0282/1629/5512/t/2/assets/icons.eot?v=2002815656684037727#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/0282/1629/5512/t/2/assets/icons.woff?v=1501793824200877814") format("woff"), url("//cdn.shopify.com/s/files/1/0282/1629/5512/t/2/assets/icons.ttf?v=2721982321323709976") format("truetype"), url("//cdn.shopify.com/s/files/1/0282/1629/5512/t/2/assets/icons.svg?v=18173388395094512039#shop-icons") format("svg");
    font-weight: 400;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*============================================================================
#Links and Buttons
==============================================================================*/


/*============================================================================
#Images and Iframes
==============================================================================*/

img {
    max-width: 100%;
    border: 0;
}

@media screen and (min-width: 1080px) {
    .content__type {
        max-width: 50%;
    }
}

.bg {
    /* The image used */
    background-image: url("../img/zgowie.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

svg:not(:root) {
    overflow: hidden;
}

.video-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    height: auto;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*============================================================================
#Forms
==============================================================================*/

@media only screen and (max-width: 989px) {
    input,
    textarea,
    select {
        font-size: 16px;
    }
}

fieldset {
    border: 1px solid #eeeeee;
    padding: 10px;
}

legend {
    border: 0;
    padding: 0;
}

button,
input[type="submit"] {
    cursor: pointer;
}

input,
textarea,
select {
    border: 1px solid #eeeeee;
    max-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #d4d4d4;
}

input[disabled],
textarea[disabled],
select[disabled] {
    cursor: default;
    background-color: #e0e0e0;
    border-color: black;
}

textarea {
    min-height: 100px;
}


/*================ Keyframe animations ================*/

@-webkit-keyframes fadeIn {
    0%,
    35% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%,
    35% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes heroContentIn {
    0%,
    35% {
        opacity: 0;
        -ms-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    40% {
        -ms-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes heroContentIn {
    0%,
    35% {
        opacity: 0;
        -ms-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    40% {
        -ms-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*================ THEME FUNCTIONS ================*/


/*================ GLOBAL ================*/


/*================ Grid | No gutters ================*/

.grid--no-gutters {
    margin-left: 0;
}

.grid--no-gutters>.grid__item {
    padding-left: 0;
}


/*================ Grid | Half gutters ================*/

.grid--half-gutters {
    margin-left: -10px;
}

.grid--half-gutters>.grid__item {
    padding-left: 10px;
}


/*================ Grid | Vertically centered items ================*/

.grid--table {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-left: 0;
}

.grid--table>.grid__item {
    float: none;
    display: table-cell;
    vertical-align: middle;
    min-height: 1px;
    padding-left: 0;
}

@media only screen and (min-width: 990px) {
    .large-up--grid--table {
        display: table;
        table-layout: fixed;
        width: 100%;
        margin-left: 0;
    }
    .large-up--grid--table>.grid__item {
        float: none;
        display: table-cell;
        vertical-align: middle;
        min-height: 1px;
        padding-left: 0;
    }
}


/*================ General theme related layout ================*/

.page-gutter {
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (min-width: 750px) {
    .page-gutter {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.main-content {
    position: relative;
}

.main-content--no-template {
    padding-top: 50px;
}

.page-width--wide {
    max-width: 1200px;
}

hr {
    margin-bottom: 60px;
}

hr.hr--clear {
    border: 0 none;
    height: 1px;
    margin-top: -1px;
}

.page-content__content {
    margin: 0 10%;
}


/*================ Page template ================*/

.page-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media only screen and (min-width: 750px) {
    .page-container {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}


/*================ Headings ================*/


/*================ Paragraph styles ================*/

p {
    margin: 0 0 20px;
}

.txt--minor {
    font-size: 80%;
}

.txt--emphasis {
    font-style: italic;
}


/*================ Cursor ================*/

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    -webkit-transition: opacity .3s, color .4s;
    -o-transition: opacity .3s, color .4s;
    -moz-transition: opacity .3s, color .4s;
    transition: opacity .3s, color .4s
}

.cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: currentColor;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: opacity .1s, -webkit-transform .25s ease-in-out;
    transition: opacity .1s, -webkit-transform .25s ease-in-out;
    -o-transition: opacity .1s, -o-transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out, opacity .1s, -moz-transform .25s ease-in-out;
    transition: transform .25s ease-in-out, opacity .1s;
    transition: transform .25s ease-in-out, opacity .1s, -webkit-transform .25s ease-in-out, -moz-transform .25s ease-in-out, -o-transform .25s ease-in-out
}

.cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: scale(0) rotate(10deg);
    -moz-transform: scale(0) rotate(10deg);
    -ms-transform: scale(0) rotate(10deg);
    -o-transform: scale(0) rotate(10deg);
    transform: scale(0) rotate(10deg);
    opacity: 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -.01em;
    -webkit-transition: opacity .4s, -webkit-transform .3s;
    transition: opacity .4s, -webkit-transform .3s;
    -o-transition: opacity .4s, -o-transform .3s;
    -moz-transition: opacity .4s, transform .3s, -moz-transform .3s;
    transition: opacity .4s, transform .3s;
    transition: opacity .4s, transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s
}

.cursor-text:lang(ru) {
    font-size: 14px;
    line-height: 18px
}

.cursor-media {
    display: none;
    position: absolute;
    width: 350px;
    height: 350px;
    margin: -175px 0 0 -175px
}

@media (min-width:1600px) {
    .cursor-media {
        width: 430px;
        height: 430px;
        margin: -215px 0 0 -215px
    }
}

.cursor-media-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    padding: 1px;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
    -webkit-transition: opacity .2s .2s, -webkit-transform .35s;
    transition: opacity .2s .2s, -webkit-transform .35s;
    -o-transition: opacity .2s .2s, -o-transform .35s;
    -moz-transition: transform .35s, opacity .2s .2s, -moz-transform .35s;
    transition: transform .35s, opacity .2s .2s;
    transition: transform .35s, opacity .2s .2s, -webkit-transform .35s, -moz-transform .35s, -o-transform .35s
}

.cursor-media img,
.cursor-media video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

@supports ((-o-object-fit:cover) or (object-fit:cover)) {
    .cursor-media img,
    .cursor-media video {
        position: static;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@supports (mix-blend-mode:exclusion) {
    .cursor.-exclusion,
    .cursor.-media.-media-blend,
    .cursor.-opaque {
        mix-blend-mode: exclusion
    }
}

@supports (mix-blend-mode:exclusion) {
    .cursor.-exclusion:before,
    .cursor.-media.-media-blend:before,
    .cursor.-opaque:before {
        background: #fff
    }
}

.cursor.-normal,
.cursor.-text {
    mix-blend-mode: normal
}

.cursor.-normal:before,
.cursor.-text:before {
    background: currentColor
}

.cursor.-inverse {
    color: #fff
}

.cursor.-visible:before {
    -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -ms-transform: scale(.2);
    -o-transform: scale(.2);
    transform: scale(.2)
}

.checkbox_rounded label>input:checked~.cursor.-visible.checkbox_rounded-box:before,
.cursor.-visible.-active:before,
.menu.-open .menu-toggle button.cursor.-visible:before {
    -webkit-transform: scale(.23);
    -moz-transform: scale(.23);
    -ms-transform: scale(.23);
    -o-transform: scale(.23);
    transform: scale(.23);
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.cursor.-pointer:before {
    -webkit-transform: scale(.15);
    -moz-transform: scale(.15);
    -ms-transform: scale(.15);
    -o-transform: scale(.15);
    transform: scale(.15)
}

.cursor.-text:before {
    opacity: .85;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7)
}

.cursor.-text .cursor-text {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.checkbox_rounded label>input:checked~.cursor.-text.checkbox_rounded-box:before,
.cursor.-text.-active:before,
.menu.-open .menu-toggle button.cursor.-text:before {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s
}

.cursor.-icon:before {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5)
}

.checkbox_rounded label>input:checked~.cursor.-icon.checkbox_rounded-box:before,
.cursor.-icon.-active:before,
.menu.-open .menu-toggle button.cursor.-icon:before {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4)
}

.cursor.-media {
    z-index: 0
}

.cursor.-media .cursor-media-box {
    opacity: 1;
    -webkit-transform: scale(.696);
    -moz-transform: scale(.696);
    -ms-transform: scale(.696);
    -o-transform: scale(.696);
    transform: scale(.696);
    -webkit-transition-duration: .4s, .4s;
    -moz-transition-duration: .4s, .4s;
    -o-transition-duration: .4s, .4s;
    transition-duration: .4s, .4s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s
}

.cursor.-media.-media-lg .cursor-media-box {
    -webkit-transform: scale(1)!important;
    -moz-transform: scale(1)!important;
    -ms-transform: scale(1)!important;
    -o-transform: scale(1)!important;
    transform: scale(1)!important
}

@supports (mix-blend-mode:exclusion) {
    .cursor.-media.-media-blend {
        z-index: 150
    }
}

@supports (mix-blend-mode:exclusion) {
    .cursor.-media.-media-blend .cursor-media-box {
        -webkit-filter: invert(1);
        filter: invert(1)
    }
}

.cursor.-menu:before {
    -webkit-transform: scale(1.32);
    -moz-transform: scale(1.32);
    -ms-transform: scale(1.32);
    -o-transform: scale(1.32);
    transform: scale(1.32)
}

.checkbox_rounded label>input:checked~.cursor.-menu.checkbox_rounded-box:before,
.cursor.-menu.-active:before,
.menu.-open .menu-toggle button.cursor.-menu:before {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.cursor.-opaque:before {
    -webkit-transform: scale(1.32);
    -moz-transform: scale(1.32);
    -ms-transform: scale(1.32);
    -o-transform: scale(1.32);
    transform: scale(1.32)
}

.checkbox_rounded label>input:checked~.cursor.-opaque.checkbox_rounded-box:before,
.cursor.-opaque.-active:before,
.menu.-open .menu-toggle button.cursor.-opaque:before {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.cursor.-loading:before {
    animation: cursor-loading .6s .1s infinite alternate-reverse;
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    -ms-transform: scale(.3);
    -o-transform: scale(.3);
    transform: scale(.3)
}

.cursor.-hidden:before {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

@-webkit-keyframes cursor-loading {
    0% {
        -webkit-transform: scale(.6);
        transform: scale(.6)
    }
    100% {
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }
}

@-moz-keyframes cursor-loading {
    0% {
        -moz-transform: scale(.6);
        transform: scale(.6)
    }
    100% {
        -moz-transform: scale(.3);
        transform: scale(.3)
    }
}

@-o-keyframes cursor-loading {
    0% {
        -o-transform: scale(.6);
        transform: scale(.6)
    }
    100% {
        -o-transform: scale(.3);
        transform: scale(.3)
    }
}

@keyframes cursor-loading {
    0% {
        -webkit-transform: scale(.6);
        -moz-transform: scale(.6);
        -o-transform: scale(.6);
        transform: scale(.6)
    }
    100% {
        -webkit-transform: scale(.3);
        -moz-transform: scale(.3);
        -o-transform: scale(.3);
        transform: scale(.3)
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: middle;
    place-items: center;
    height: 100vh;
}

span {
    width: 110px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    border-radius: 50%;
}