<div class="-row icons2">
    <a href="https://www.instagram.com/zgowiecre/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.instagram.com/zgowiecre/" target="_blank"><i class="fab fa-behance"></i></a>
    <a href="https://www.instagram.com/zgowiecre/" target="_blank"><i class="fab fa-twitter"></i></a>
</div>
<div class="con_t">
    <h1 style="position: relative; z-index: 4;">
        <span class="-row">
                        <span class="outline -o" >CONTATO</span>
        </span>
        <span class="-row">
                        <span >CONTATO</span>
        </span>
    </h1>
    <h1>
        <span class="-row">
                        <span class="outline -o" style="transition-delay: .5s" >CONTATO</span>
        </span>
    </h1>
</div>
<div class="con_p">
    <div class="-row icons">
        <a href="https://www.instagram.com/zgowiecre/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.instagram.com/zgowiecre/" target="_blank"><i class="fab fa-behance"></i></a>
        <a href="https://www.instagram.com/zgowiecre/" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <p class="delay">
    </p><br>
    <a href="mailto:zgowie@gmail.com?subject=Lets%20Work%20Together" class="-btn" title="I usually respond in a day.">
        <p>
            <span class="-row">
                            <span >Entrar em contato</span>
            </span>
        </p>
        <span class="-row">
                        <span ><img src="./assets/img/other/seta.svg"></span>
        </span>
    </a>
    <p class="delay copy">
        <span class="-row">
                        <span >Designed and developed by @thomazgg.</span>
        </span>
        <span class="-row">
                        <span >© <span style="display: inline;" id="year"></span> All rights reserved.</span>
        </span>
    </p>
</div>