<noscript>
        Parabéns Viajante do Tempo, você está nos anos 90. Agora, para acessar este site, você precisa
        atualize seu navegador ou habilite o Javascript nas configurações. E por favor não use o Internet Explorer :).
    </noscript>

<!-- 
         ___                                   _
        / __ |   |/ __| |/ /    |\  /| \ /    | \  | / __| |/ /
        \__ \|   | (__|   <     | \/ |  |     |  | || (__|   <
        |___/|___|\___|_|\_\    |    |  |     |_/  | \___|_|\_\

     -->